.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    border: 1px solid #D35D16;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .rslides img {
        width: 70%;
    }
}